
{% extends "base.html" %}
{% block content %}
<div class="product-payment-inner-st">
    <ul id="myTabedu1" class="tab-review-design">
        <li class="active"><a href="#description">Nhập thông tin</a></li>
    </ul>
    <div id="myTabContent" class="tab-content custom-product-edit">
        <div class="product-tab-list tab-pane fade active in" id="description">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-content-section">
                        <div id="dropzone1" class="pro-ad">
                            <form method="POST" class="dropzone dropzone-custom needsclick add-professors dz-clickable" id="demo1-upload" novalidate="novalidate">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="name">Tên lớp:</label>
                                            <input name="name" type="text" class="form-control" placeholder="Nhập tên lớp">
                                        </div>
                                        <div class="form-group">
                                            <label for="year">Năm học:</label>
                                            <input name="year" type="text" class="form-control" placeholder="Nhập theo chuẩn 2022-2023">
                                        </div>
                                        <div class="form-group">
                                            <label for="size">Sỉ số lớp:</label>
                                            <input name="size" type="tel" class="form-control" placeholder="Sỉ số lớp">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group res-mg-t-15">
                                            <label for="note">Chú thích:</label>
                                            <textarea name="note" placeholder="Chú thích"></textarea>
                                        </div>
                            
                                        <div class="form-group">
                                            <select name="grade" class="form-control">
                                                <option value="none" selected="" disabled="">Chọn khối</option>
                                                {% for gr in grade %}
                                                <option value="{{gr.id}}">{{gr.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="payment-adress">
                                            <button type="submit" class="btn btn-primary waves-effect waves-light">Xác nhận</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
