{% extends "base.html" %}
{% block content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="breadcome-list">
        <div class="row">
            <form class="d-flex" action="/students">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="breadcome-heading">
                           <input name="name_student" type="text" placeholder="Tìm tên học sinh" class="search-int form-control">    
                        </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="breadcome-heading">
                            <!-- <input name="subject" type="text" placeholder="Tìm tên giáo viên" class="search-int form-control"> -->
                            <select id ="class_st" name="class_st" class="form-control">
                                <option value="">Tìm theo lớp</option>
                                {% for cl in classes%}
                                    <option value="{{cl.id}}">{{ cl.name}}</option>
                                {% endfor %}
                            </select>
                        </div>         
                </div>
           
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <button class="btn btn-primary" type="submit">Tìm</button>
                </div>
            </form>
           
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <ul class="breadcome-menu">
                    <li><a href="#">Trang chủ</a> <span class="bread-slash">/</span>
                    </li>
                    <li><span class="bread-blod">Tất cả học sinh</span>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</div>
<div class="contacts-area mg-b-15">
    <div class="container-fluid">
                <div class="row">
                    {% for st in students %}     
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="student-inner-std res-mg-b-30">
                            <div class="student-img">
                                <img src="{{ st.student.image }}" alt="">
                            </div>
                            <div class="student-dtl">
                                <a href="/student_profile/{{ st.student_id }}" ><h2>{{ st.student.name }}</h2></a>
                            
                                <p class="dp">{{ st.class_scholastic.name}}</p>
                                <p class="dp-ag">{{ st.student.gender }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
       
    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      {% for page in range(1,pages+1)%}
      <li class="page-item"><a class="page-link" href="{{url_for('students',page=page)}}">{{page}}</a></li>
      {% endfor %}
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
{% endblock %}